<!DOCTYPE html>
<html>
  <head>
    <title>BROKKOLI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/pico.min.css">
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li><a href="/"><strong>BROKKOLI</strong></a></li>
      </ul>
    </nav>

    <main class="container">
    {% block content %}{% endblock content %}
    </main>

    <footer class="container-fluid">
    {% block footer %}{% endblock footer %}
    </footer>
  </body>
</html>
